PySide6==6.5.3
sr-vulkan
sr-vulkan-model-waifu2x
sr-vulkan-model-realcugan
sr-vulkan-model-realesrgan
pillow
bs4
lxml
pycryptodomex
Pysocks
natsort
curl_cffi>=0.13.0,<=0.14.0
jmcomic==2.6.20
webdavclient3
tqdm
pysmb
smbprotocol